@media (max-width: 1024px) { 
    body {
        overflow: hidden; 
    }

    h1 {
        display: none; 
    }

    #game-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        width: 100vw !important;
        height: 100vh !important;
    }
}

/* Mobile-Ansicht aktivieren */
@media (max-width: 800px) {
    #mobile-controls {
        display: flex;
    }
}


@media (max-width: 760px) {
    h1 {
        display: none;
    }
}

/* 🔹 Querformat-Warnung aktivieren, wenn das Gerät hochkant ist */
/* @media screen and (max-aspect-ratio: 1/1) {
    #rotate-warning {
        display: block;
    }
} */

@media screen and (max-width: 920px) and (orientation: portrait) {
    #rotate-warning {
        display: flex;
    }
}

@media (max-width: 720px) {
    canvas {
        width: 640px !important;
        height: 360px !important;
    }
}

@media (max-width: 640px) {
    canvas {
        width: 480px !important;
        height: 320px !important;
    }
}

@media (max-width: 500px) {
    canvas {
        width: 320px !important;
        height: 240px !important;
    }

    #startscreen button {
        padding: 3px 15px !important;
        font-size: 18px !important;
    }

    #fullscreen-btn {
        padding: 6px 25px !important;
        font-size: 18px !important;
    }
}

@media (max-width: 320px) {
    canvas {
        width: 240px !important;
        height: 160px !important;
    }

    #startscreen button {
        padding: 3px 10px !important;
        font-size: 13px !important;
    }

    #fullscreen-btn {
        padding: 4px 20px !important;
        font-size: 13px !important;
    }
}


